.bgcolorblackmaking
{
    width: 100%;
    height: 27vh;
    /* background-color: var(--darkbrown-color); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

   
}
.bgcolorblackmaking h1
{
    color: var(--white-color);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 55px;
    padding-top: 50px;
    line-height: 110%;
    padding-bottom: 30px;
    text-align: center;
}
.bgcolorblackmaking span

{
    color: var(--lightpurple-color);
    
}

.blackmaking
{
     width: 100%;
    height: 95vh;
    background-color: var(--black-color);

}
.fleximg

{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    /* flex-direction: column; */
    flex-wrap: wrap;
    padding-top: 100px;
}

.leftimg img{
    width: 680px;
    height: 500px;
    border-radius: 12px;
}
.rightimg
{
     display: flex;
     gap: 20px;
    
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}
.rightimg img{
    width: 365px;
    height: 240px;

    border-radius: 8px;
}
@media (max-width: 992px) {
  .bgcolorblackmaking h1 {
    font-size: 40px;
  }
  .fleximg {
    gap: 40px;
  }
}
@media (max-width: 768px) {
    .bgcolorblackmaking
{
    width: 100%;
    height: 22vh;
    background-color: var(--darkbrown-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

   
}
  .bgcolorblackmaking h1 {
    font-size: 32px;
  }
  .blackmaking
{
     width: 100%;
    height: 160vh;
    background-color: var(--black-color);

}
  .fleximg {

    flex-direction: column;
    gap: 30px;
    padding-top: -20px;
  }
  .leftimg img{
    width: 320px;
    height: 300px;
    border-radius: 12px;
}
  .rightimg {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .rightimg img{
    width: 320px;
    height: 300px;

    border-radius: 8px;
}
}

@media (max-width: 480px) {
  .bgcolorblackmaking h1 {
    font-size: 26px;
  }
  .rightimg {
    flex-direction: column;
  }
  .rightimg img {
    max-width: 100%;
  }
}
